@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply w-full h-full;
}

body {
  @apply w-full h-full font-body;
}

@layer utilities {
  .red-squiggles {
    display: inline-block;
    position: relative;
  }
  .red-squiggles:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.8em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 16px;
    left: -1px;
    overflow: hidden;
  }

  .animate-in-start {
    @apply motion-safe:opacity-0 motion-safe:blur-sm motion-safe:-translate-x-4;
  }

  .animate-in-end {
    @apply motion-safe:opacity-100 motion-safe:blur-none motion-safe:translate-x-0;
  }
}

body::-webkit-scrollbar {
  @apply w-2 bg-gray-dark;
}

body::-webkit-scrollbar-track {
  @apply shadow-inner;
}

body::-webkit-scrollbar-thumb {
  @apply outline outline-1 bg-gray-lighter rounded-lg;
}
