---
import Waves from "../components/3D/Waves";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<title slot="head">Nick Ellis</title>

<DefaultLayout tab="Home">
  <div class="h-64" slot="hero">
    <Waves colorHex={0xa3a3a3} client:only="react" />
  </div>
</DefaultLayout>
