---
import Counter from "../components/Counter";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1 class="font-bold">Hello there</h1>
  <Counter client:visible>
    <h1>Hello, Preact!</h1>
  </Counter>
</DefaultLayout>
