---
import Waves from "../components/3D/Waves";
import ToolsTabList from "../components/tools/ToolsTabList";
import DefaultLayout from "layouts/DefaultLayout.astro";
import { Icon } from "astro-icon";
import DemoGame from "components/game/demo/DemoGame.astro";
---

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-in-end");
        entry.target.classList.remove("animate-in-start");
      } else {
        entry.target.classList.add("animate-in-start");
        entry.target.classList.remove("animate-in-end");
      }
    })
  );

  document
    .querySelectorAll("[data-animate-in]")
    .forEach((element) => observer.observe(element));
</script>

<title slot="head">Nick Ellis</title>

<DefaultLayout>
  <div class="h-screen opacity-30 motion-reduce:opacity-0" slot="hero">
    <Waves colorHex={0xc4b5fd} client:only="react" />
  </div>

  <div class="flex flex-col py-16 space-y-20 items-center">
    <div class="flex flex-col justify-center items-center">
      <h2
        data-animate-in
        class:list={[
          "animate-in-start duration-700 transition-all",
          "text-2xl sm:text-3xl px-4 md:px-24 max-w-6xl text-center",
        ]}
      >
        Recent work in <span class="text-brand-react font-bold">React</span> and
        <span class="text-brand-phaser font-bold brightness-125">Phaser</span>
        game development. Strong mobile experience with <span
          class="text-brand-android font-bold">Android</span
        > apps and <span class="font-bold text-brand-pwa">PWAs</span>.
      </h2>
    </div>

    <div
      data-animate-in
      class:list={[
        "animate-in-start duration-700 transition-all",
        "w-72 h-[11.25rem] lg:w-[32rem] lg:h-80 rounded-2xl bg-black overflow-clip",
        "flex flex-col items-center justify-center",
      ]}
    >
      <DemoGame />
    </div>

    <!-- Frameworks -->
    <div data-animate-in class="animate-in-start duration-700 transition-all">
      <ToolsTabList client:load>
        <Icon
          slot="iconreact"
          class="w-8 h-8 md:w-12 md:h-12 p-px text-brand-react"
          name="mdi:react"
        />
        <Icon
          slot="iconandroid"
          class="w-8 h-8 md:w-12 md:h-12 text-brand-android"
          name="mdi:android"
        />
        <Icon slot="iconpwa" class="h-8 w-10 md:h-12 md:w-16 p-px" name="pwa" />
        <img
          slot="iconphaser"
          class="h-8 md:h-12 text-xs"
          alt="Phaser planet and alien logo"
          src="/images/phaser-logo.png"
        />
      </ToolsTabList>
    </div>

    <!-- Experience -->
    <div
      data-animate-in
      class:list={[
        "animate-in-start duration-700 transition-all",
        "flex flex-col space-y-4 lg:flex-row lg:space-x-16 lg:space-y-0 justify-center items-center",
      ]}
    >
      <p class="text-lg lg:text-3xl leading-loose text-end">
        <span class="text-5xl lg:text-7xl font-bold">10 years</span><br />in
        software including
      </p>

      <ul
        class="flex flex-col items-center lg:items-start space-y-2 text-xl lg:text-3xl font-semibold"
      >
        <li>Practical Experience</li>
        <li>Leadership and Mentoring</li>
        <li>Problem Solving</li>
      </ul>
    </div>

    <!-- <ChatBubble
      data-animate-in
      class:list={[
        "animate-in-start duration-700 transition-all",
        "flex flex-col w-fit p-4 text-xl max-w-lg",
      ]}
    >
      <p>
        Experience in a language is meaningless without the of
        software engineering. These fundamentals apply accross all languages and
        tools that are ever evolving.
      </p>
    </ChatBubble> -->
  </div>
</DefaultLayout>
