---
import Counter from "../components/Counter";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<title slot="head">Nick Ellis (Work)</title>

<DefaultLayout tab="Work">
  <h1 class="font-bold">Work</h1>
  <Counter client:visible>
    <h1>Hello, Preact!</h1>
  </Counter>
</DefaultLayout>
