<div class="flex flex-row font-mono text-3xl">
  <h1 class="text-secondary dark:brightness-200">
    nickEllis<span class="text-primary">(</span>
  </h1>
  <slot />
  <p class="text-primary dark:brightness-200">)</p>
</div>
