---
export interface Props {
  href: string;
  active?: boolean;
}

const { active, href } = Astro.props;
---

<a
  class="transition-transform duration-500 hover:-translate-y-2 error"
  href={href}
>
  <span class={active && "red-squiggles"}>
    <slot>...</slot>
  </span>
</a>
