---
import HeadCommon from "../components/HeadCommon.astro";
import Logo from "../components/nav/Logo.astro";
import Tab from "../components/nav/Tab.astro";
import "../styles/global.css";

export interface Props {
  tab?: "Home" | "Work";
}

const { tab } = Astro.props;
---

<html>
  <head>
    <HeadCommon />
    <slot name="head" />
  </head>

  <body
    class:list={[
      "w-full h-full grid grid-rows-header-footer",
      "text-black dark:text-white bg-gradient-to-b from-white-off to-white-off dark:from-gray-dark dark:to-gray",
    ]}
  >
    <header class="w-full py-6">
      <div class="container">
        <Logo>
          <nav class="flex flex-row space-x-6 px-6">
            <Tab href="/" active={tab === "Home"}>Home,</Tab>
            <Tab href="/work" active={tab === "Work"}>Work</Tab>
          </nav>
        </Logo>
      </div>
    </header>

    <main class="">
      <div class="container">
        <slot />
      </div>
    </main>

    <footer class="dark:bg-gray-light"></footer>
  </body>
</html>
