---
import HeadCommon from "../components/HeadCommon.astro";
import "../styles/global.css";
---

<html>
  <head>
    <HeadCommon />
    <slot name="head" />
  </head>

  <body class="w-full h-full grid grid-rows-header-footer">
    <nav
      class="w-full bg-white-off dark:bg-gray text-black dark:text-white-off"
    >
      <div class="container">
        <a class="text-2xl" href="#">Home</a>
        <!-- <a href="#">Posts</a>
          <a href="#">Contact</a> -->
      </div>
    </nav>

    <main class="bg-white-off dark:bg-gray-dark text-black dark:text-white-off">
      <div class="container">
        <slot />
      </div>
    </main>

    <footer class="dark:bg-gray-light"></footer>
  </body>
</html>
