---
import "../styles/global.css";
import HeadCommon from "../components/HeadCommon.astro";
import Tab from "../components/nav/Tab.astro";
import { Icon } from "astro-icon";

export interface Props {
  noNav?: boolean;
  tab?: "Home" | "Work" | "Projects";
}

const { tab = "Home", noNav = false } = Astro.props;
---

<html>
  <head>
    <HeadCommon />
    <slot name="head" />
  </head>

  <body>
    <div
      class:list={[
        "w-full min-h-full grid grid-rows-header-footer",
        "text-black dark:text-white",
        "bg-gradient-to-b from-white-off to-white-off dark:from-gray-dark dark:to-gray",
      ]}
    >
      <div class="absolute w-full h-full row-start-1">
        <slot name="hero" />
      </div>

      {
        !noNav && (
          <header class="z-10 w-full row-start-1 bg-gray-dark border-gray-darker border-b-2">
            <div class="container py-2 md:py-6 px-3">
              <nav class="w-full flex flex-row justify-between items-center">
                <div class="flex flex-row space-x-4 md:space-x-8 xl:space-x-12 items-center">
                  <Tab href="/" active={tab === "Home"}>
                    {/** 
                    <h1
                      class:list={[
                        "text-3xl font-extrabold md:hidden",
                        "bg-clip-text text-transparent bg-gradient-to-r",
                        // "from-accent-light to-lime-light",
                        "from-brand-pwa to-brand-react",
                      ]}
                    >
                      NE
                    </h1>
                  */}
                    <h1
                      class:list={[
                        "text-3xl font-extrabold",
                        // "text-3xl font-extrabold hidden md:block",
                        "bg-clip-text text-transparent bg-gradient-to-r",
                        "from-brand-phaserLight via-brand-react to-accent-light",
                        // "from-brand-pwa to-brand-react",
                      ]}
                    >
                      Nick Ellis
                    </h1>
                  </Tab>
                  {/** 
                  <Tab href="/work" active={tab === "Work"}>
                    Work
                  </Tab>
                  <Tab href="/projects" active={tab === "Projects"}>
                    Projects
                  </Tab>
                  */}
                </div>

                <div class="flex flex-row space-x-1 sm:space-x-6 items-center">
                  <a
                    href="https://github.com/nwellis"
                    target="_blank"
                    rel="noopener"
                  >
                    <Icon class="w-12 h-12 p-px" name="mdi:github" />
                  </a>
                  <a
                    href="https://www.linkedin.com/in/linkednickellis/"
                    target="_blank"
                    rel="noopener"
                  >
                    <Icon class="w-12 h-12" name="mdi:linkedin" />
                  </a>
                </div>
              </nav>
            </div>
          </header>
        )
      }

      <main class="z-10 container row-start-2">
        <slot />
      </main>

      <footer class="dark:bg-gray-light row-start-3 mt-12 h-32"></footer>
    </div>
  </body>
</html>
